body{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    height: 100vh;
    background-color: rgb(208, 191, 169);
}

img{
    margin: 0 0 -1% 20%;

}

.center{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    background: #fddddd;
    border-radius: 10px;
    border: solid 2px;
    padding: 20px;
}

.center h1{
    text-align: center;
    padding: 0 0 5% 0;
    /*border-bottom: 2px dashed black;*/
   border-bottom: 2px solid black;
}

h1{
    margin-left: 2%;
}

.center form{
    padding: 0 12%;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #030000;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 1%;
    height: 25px;
    font-size: 16px;
    border: groove;
    background: none;
    outline: none;
    border-radius:5px;
}

.txt_field label {
    position: absolute;
    top: 65%;
    left: 3%;
    color: #8b002e;
    /*transform: translateY(-50%);*/
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 5%;
    background: #8b002e;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -2% 0% 5% 1%;
    cursor: pointer;
    color: #adadad;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: large;
    color: #fddddd;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

.signup_link{
    margin: 8% 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: #2691d9;
    text-decoration: none;
}