.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .logo {
  position: absolute;
  width: 626px;
  height: 166px;
  top: 221px;
  left: 407px;
  border-radius: 6px;
}

.desktop .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 418px;
  height: 43px;
  /*here*/
  top: 250px;
  left: 585px;

  color: #000000;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 370px;
  height: 208px;
  top: 433px;
  /*background-color:#8b002e*/
  ;
  left: 569px;
}

.desktop .overlap-group {
  width: 500;
  height: 350px;
  border-radius: 6px;
  background-color: transparent;
  background-size: 100% 100%;
}

.desktop .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  width: 318px;
  height: 143px;
  top: 32px;
  left: 25px;
  color: transparent;
}

.desktop .text {
  position: relative;
  align-self: stretch;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #8b002e;
  /* Hot pink color */
  font-size: 72px;
  /* Adjust the font size as needed */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

  animation: fadeIn 1s forwards;
  /* Apply a fade-in animation to all .text elements */

  /* Define the fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}


.desktop .text-wrapper {
  font-family: 'Rubik', sans-serif;
  font-weight: 1000;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
}

.desktop .hotText {
  font-family: 'Rubik', sans-serif;
  font-weight: 1000;
  color: #C50909;
  font-size: 80px;
  letter-spacing: 0;
  margin: 0;
  display: inline;
}

.desktop .text-wrapper:hover {
  color: transparent;
  font-size: 40px;
  transition: all 0.3s ease;
}


/* to remove box surrounding -> ckear and make black font for aesthetic*/
.desktop .text a {
  color: black;
  text-decoration: none;
  /* Optional: Remove underline */
  border: none;
  background-color: transparent;
}

.desktop .text a:hover {
  color: black;
  /* Change the hover color to black if desired */
}