.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  width: 1440px;
  height: 900px;
  position: relative;
}

.desktop .logo {
  position: absolute;
  width: 626px;
  height: 166px;
  top: 221px;
  left: 407px;
  border-radius: 6px;
}

/*.dating {
  position: relative;
  width: 100%; 
}
/*

/* Style the image itself */
.dating img {
  width: 20% !important;/* Adjust the width as needed */
  max-width: 290 px; /* Set a maximum width if necessary */
  height: 250px; /* Let the height adjust proportionally */
  border-radius: 6px;
  position: absolute;
  right: 55%; /* Position from the left */
  top: 90%;
  transform: translate(-50%, -50%);
}



















.desktop .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 418px;
  height: 43px;
  /*here*/
  top: 250px;
  left: 585px;

  color: #000000;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 370px;
  height: 208px;
  top: 433px;
  /*background-color:#8b002e*/
  margin-top:-50px;
  left: 569px;
}

.desktop .overlap-group {
  width: 500;
  height: 350px;
  border-radius: 6px;
  background-color: transparent;
  background-size: 100% 100%;
}

.desktop .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    width: 318px;
    height: 143px;
    top: 32px;
    left: 25px;
}




.desktop .text-wrapper {
    font-family: 'Rubik', sans-serif;
    font-weight: 1000;
    color:  transparent;
    font-size: 20px;
    letter-spacing: 0;
    color:#8b002e
}

.desktop .hotText {
  font-family: 'Rubik', sans-serif;
  font-weight: 1000;
  color: #C50909;
  font-size: 80px;
  letter-spacing: 0;
  margin: 0;
  display: inline;
}

.desktop .text-wrapper:hover {
  color:transparent;
  font-size: 70px;
  transition: all 0.3s ease; 
}


/* to remove box surrounding -> ckear and make black font for aesthetic*/
.desktop .text a {
  color:  #8b002e;
  border: none;
  background-color: transparent;
}

.desktop .text a:hover {
  color: black;
  /* Change the hover color to black if desired */
}


/* Style the image itself */
.dating2 img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust proportionally */
  border-radius: 6px;
  position: absolute;
  /* Positioning */
  right: 20px; /* Adjust these values as needed */
  top: 90px; /* Adjust these values as needed */
}
