<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    input[type="videos"] {
        background-color: #8b002e;
        border: none;
        padding: 10px 20px;
        /* Added padding for a wider button */
        cursor: pointer;
        border-radius: 20px;
        /* Rounded corners for the button */
    }

    input[type="videos"]:hover {
        background-color: #8b002e;
    }

    body {
        background: linear-gradient(45deg, #e72e2e, #e2bcc2);
        /* Gradient background from #e72e2e to #e2bcc2 */
        font-family: 'Rubik', sans-serif;
    }

    .card {
        position: relative;
        /* Required for pseudo-element positioning */
        background-color: rgba(0, 0, 0, 0.096);
        /* Semi-transparent black background */
        opacity: 0.8;
        /* Adjust the opacity level as needed (0 to 1) */
    }

    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0);
        /* Semi-transparent grey tint */
        z-index: -1;
        /* Place the pseudo-element behind the content */
    }
</style>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 shadow">
        <div class="container">
            <!--<a href="{{ url_for('index') }}" class="navbar-brand text-danger">hot<span class="text-warning">Brain</span></a>-->
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <img src="/static/pics/clearlogo.png" width="90" height"90" class="d-inline-block align-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <!--
                        <li class="nav-item">
                            <a href="#learn" class="nav-link">Videos</a>
                        </li>
                        -->
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('connect') }}" class="nav-link">Connect</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    </li>
                    <!--<li class="nav-item">
                        <a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a>
                    </li>-->
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('signup') }}" class="nav-link">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <section>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show pt-1" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            {% endfor %}
            </br />
            <h2>Dashboard</h2>
            </br />

            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3>Welcome, {{current_user.username}}!</h3>
                    </div>
                    <div class="card-body" align="center">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/pics/profile/{{current_user.profile_pic}}" width="200" align="right" class="rounded-circle">
                                <h5 class="card-title" align="left">User ID</h5>
                                <p class="card-text" align="left">{{current_user.id}}</p>
                            </div>
                            <div class="col-md-8 " align="left">
                                <div style="padding-left: 75px;">
                                    <h5 class="card-title">Name</h5>
                                    <p class="card-text">{{current_user.fname}} {{current_user.lname}}</p>
                                    <h5 class="card-title">Age</h5>
                                    <p class="card-text">{{current_user.age}}</p>
                                    <h5 class="card-title">Email</h5>
                                    <p class="card-text">{{current_user.email}}</p>
                                    <h5 class="card-title">Bio</h5>
                                    <p class="card-text">{{current_user.bio}}</p>
                                    <!--<h5 class="card-title">Profile Pic: </h5>
                                    <p class="card-text">{{current_user.profile_pic}}</p>-->
                                    <a href="{{ url_for('edit_profile') }}" class="btn btn-sm btn-secondary">Edit</a>
                                    <a href="{{ url_for('logout') }}" class="btn btn-sm btn-danger">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 1dvh; margin-bottom: 0px;">
                <div class="div">
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="d-flex justify-content-between">
                                <p class="text" style="margin-right: 100px;">
                                    <a href="{{ url_for('connect') }}" class="btn btn-lg text-dark" role="button"
                                        aria-pressed="true">Videos</a>
                                </p>
                                <p class="text" style="margin-right: 100px;">
                                    <a href="/match/0" class="btn btn-lg text-dark" role="button"
                                        aria-pressed="true">Match</a>
                                </p>
                                <p class="text" style="margin-right: 100px;">
                                    <a href="{{ url_for('user_profile', user_id=current_user.id) }}" class="btn btn-lg text-dark" role="button"
                                        aria-pressed="true">Profile</a>
                                </p>
                                <p class="text">
                                    <a href="{{ url_for('survey') }}" class="btn btn-lg text-dark"
                                        aria-pressed="true">Survey</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
</body>

</html>