{% extends "base.html" %}
{% block content %}
<form method="POST" class="text-center">
    <h3 class="fw-bold">Enter the Chat Room</h3>
    <br>
    <div class="">
        <label>Name:</label>
        <input 
        type="text" 
        placeholder="Pick a name!" 
        name="name" 
        value="{{ name }}"
        />
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{ code }}" />
        <button type="submit" name="join" class="btn btn-sm btn-danger">Join a Room</button>
    </div>
    <button type="submit" name="create" class="btn btn-sm btn-danger">Create a Room</button>
    {% if error %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}