<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hotBrain</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/styleguide.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<style>
    body {
        background: linear-gradient(45deg, #e72e2e, #e2bcc2);
        /* Pink gradient */
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .overlap-group {
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .dating {
        display: block;
        width: 30%;
        margin: 0;
    }
</style>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 shadow fixed-top">
        <div class="container">
            <!--<a href="{{ url_for('index') }}" class="navbar-brand text-danger">hot<span class="text-warning">Brain</span></a>-->
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <img src="/static/pics/clearlogo.png" width="90" height"90" class="d-inline-block align-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('connect') }}" class="nav-link">Connect</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="desktop">
        <div class="div">
            <img class="logo" src="/static/pics/Logo clear.png" />
            <div class="name">
                <span class="hotText">hot<span style="color: #f8857d;">Brain</span></span>
            </div>

            <div class="overlap-group-wrapper">
                <div class="overlap-group">
                    <div class="flexcontainer">

                        <p class="text">
                            <a href="{{ url_for('video') }}" class="btn btn-lg text-light" role="button"
                                aria-pressed="true" style="color: #8b002e">Videos</a>
                        </p>

                        <p class="text">
                            <a href="{{ url_for('login') }}" class="btn btn-lg text-light" role="button"
                                aria-pressed="true" style="color: #8b002e">Login</a>
                        </p>
                        <p class="text">
                            <a href="{{ url_for('signup') }}" class="btn btn-danger btn-lg text-light" role="button"
                                aria-pressed="true" style="color: #8b002e">Sign Up</a>
                        </p>
                        <p class="text">
                            <a href="{{ url_for('survey') }}" class="btn btn-danger btn-lg btn-block text-light"
                                style="color: #8b002e">Survey</a><br />
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!---dating.png picture and make it side by side with the buttons-->
    <div class="dating">
        <img src="/static/pics/dating.png" alt="Dating" class="img-fluid">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>


</html>