{% extends 'base.html' %}
{% block content%}
<style>
    .message-box {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        background-color: whitesmoke;
        height: 80vh;
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: stretch;
    }

    .messages {
        overflow-y: scroll;
        flex: 1;
        width: 100%;
    }

    .inputs {
        padding: 10px;
        display: flex;
    }

    #message {
        flex: 1;
    }
</style>

<div class="message-box text-center">
    <h2 class="fw-bold">Chat Room: {{ room }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input 
        type="text" 
        rows="3" 
        placeholder="Message" 
        name="message" 
        id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()" class="btn btn-sm btn-danger">
            Send
        </button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const sendMessage = () => {}
        console.log("send");
</script>
{% endblock %}