<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Survey
    </title>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/survey.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 shadow fixed-top">
        <div class="container">
            <a href="{{ url_for('index') }}" class="navbar-brand text-danger">hot<span class="text-warning">Brain</span></a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('signup') }}" class="nav-link active">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>












<div class="survey-container">

    <img src="/static/pics/clearlogo.png" 
     alt="Logo" 
      style="height:90; width: 200px;"
    >
    <h1>Hot Brain Survey</h1>

    <!-- Create Form -->
    <form id="form" action="/survey" method="post" onsubmit="return validateForm()">


        <h4>To get to know you better, please fill out the following questions about yourself.</h4>
            <!-- Details -->
        <div class="form-control">
            <label for="first_name" id="label-name">1. First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Enter your first name" required/>
        </div>

            <div class="form-control">
                <label for="last_name" id="label-name">2. Last Name</label>
                <input type="text" name="last_name" id="last_name" placeholder="Enter your last name" required/>
            </div>
        
            <div class="form-control">
                <label for="email" id="label-email">3. Email</label>
                <input type="text" name="email" id="email" placeholder="Enter your email" required/>
            </div>
        
            <div class="form-control">
                <label for="age" id="label-age">4. Age</label>
                <input type="number" name="age" id="age" placeholder="Enter your age" required/>
            </div>









            <div class="form-control">
                <label>5. Gender</label>
        
                <label for="gender-1">
                    <input type="radio" id="gender-1" name="gender" value=1>Female
                </label>
        
                <label for="gender-2">
                    <input type="radio" id="gender-2" name="gender" value=2>Male
                </label>
        
                <label for="gender-3">
                    <input type="radio" id="gender-3" name="gender" value=3>Nonbinary
                </label>
        
                <label for="gender-4">
                    <input type="radio" id="gender-4" name="gender" value=4>Do not wish to disclose
                </label>
        
                <label for="gender-5">
                    <input type="radio" id="gender-5" name="gender" value=5>Other (Please Specify)
                    <input type="text" id="other_gender" name="other_gender">
                </label>
            </div>

            <div class="form-control">
                <label>6. Race</label>
        
                <label for="R-1">
                    <input type="radio" id="R-1" name="race" value=1> White
                </label>
        
                <label for="R-2">
                    <input type="radio" id="R-2" name="race" value=2> Black or African American
                </label>
        
                <label for="R-3">
                    <input type="radio" id="R-3" name="race" value=3> Hispanic or Latino
                </label>
        
                <label for="R-4">
                    <input type="radio" id="R-4" name="race" value=4> Asian or Asian American
                </label>

                <label for="R-5">
                    <input type="radio" id="R-5" name="race" value=5> American Infian or Alaska Native
                </label>

                <label for="R-6">
                    <input type="radio" id="R-6" name="race" value=5> Native Jawaiian or other Pacific Islander
                </label>

                <label for="R-7">
                    <input type="radio" id="R-7" name="race" value=6> Middle Eastern/North African
                </label>
        
                <label for="R-8">
                    <input type="radio" id="R-8" name="race" value="Other"> Other (Please Specify)
                    <input type="text" id="other_race" name="other_race">
                </label>
            </div>

            <div class="form-control">
                <label>7. Religion</label>
        
                <label for="Rl-1">
                    <input type="radio" id="Rl-1" name="religion" value=1>Muslim
                </label>
        
                <label for="Rl-2">
                    <input type="radio" id="Rl-2" name="religion" value=2>Christian
                </label>
        
                <label for="Rl-3">
                    <input type="radio" id="Rl-3" name="religion" value=3>Jew
                </label>

                <label for="Rl-4">
                    <input type="radio" id="Rl-4" name="religion" value=4>None
                </label>

                <label for="Rl-5">
                    <input type="radio" id="Rl-5" name="religion" value=5>None of the above
                </label>

                <label for="Rl-5">
                    <input type="radio" id="Rl-6" name="religion" value="Other">Other (Please Specify)
                    <input type="text" id="other_religion" name="other_religion">
                </label>
            </div>

            <div class="form-control">
                <label>8. Highest level of education</label>
        
                <label for="E-1">
                    <input type="radio" id="E-1" name="education" value="Highschool">Highschool
                </label>

                <label for="E-2">
                    <input type="radio" id="E-2" name="education" value="Bachelors Degree (In-Progress)">Bachelors Degree (In-Progress)
                </label>

                <label for="E-3">
                    <input type="radio" id="E-3" name="education" value="Bachelors Degree (Completed)">Bachelors Degree (Completed)
                </label>
                
                <label for="E-4">
                    <input type="radio" id="E-4" name="education" value="Masters Degree">Masters Degree
                </label>

                <label for="E-5">
                    <input type="radio" id="E-5" name="education" value="PHD">PHD
                </label>
                
            </div>

            <!-- Multi-line Text Input Control -->


  <!-- Next button linking to survey2.html -->
  <div class="next-button-container">
    <a href="gif.html" class="next-button">Next</a>
  </div>
</div>


            
    </form>
</div>
<script>
    function validateForm(){
        var gender_checked = false;
        var race_checked = false;
        var religion_checked = false;
        var education_checked = false;
        var age_checked = false;

        var gender_input = document.getElementsByName('gender');
        var race_input = document.getElementsByName('race');
        var religion_input = document.getElementsByName('religion');
        var education_input =document.getElementsByName('education')
        var age_input = document.getElementById('age').value;

        for (var i = 0; i < gender_input.length; i++) {
                if (gender_input[i].checked) {
                    gender_checked = true;
                    break;
                }
            }
        for (var i = 0; i < race_input.length; i++) {
                if (race_input[i].checked) {
                    race_checked = true;
                    break;
                }
            }
        for (var i = 0; i < religion_input.length; i++) {
                if (religion_input[i].checked) {
                    religion_checked = true;
                    break;
                }
            }
        for (var i = 0; i < education_input.length; i++) {
                if (education_input[i].checked) {
                    education_checked = true;
                    break;
                }
            }

        if (age < 18) {
                alert("Sorry, you must be 18 or older to proceed.");
                return false; // Prevent form submission
            }
        if (!gender_checked || !race_checked || !religion_checked || !education_checked){
            alert('Please answer all the questions before submitting.');
            return false;
        }

        return true;
    }
</script>
</body>
</html>


