<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/survey.css" />
</head>


<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 shadow fixed-top">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand text-danger">hot<span class="text-warning">Brain</span></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('signup') }}" class="nav-link active">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="survey-container"></div>
    <img src="/static/pics/clearlogo.png" 
     alt="Logo" 
     style="height:90; width: 200px;"
    >
    <h1>Hot Brain Survey</h1>
  
    <!-- Create Form -->
    <form id="form" action="/survey3" method="post">

        <h4>Lifestyle and Preferences</h4>

        <!-- Details -->
        <div class="form-control">
            <label for="occupation" id="occupation">13. What is your current occupation/profession?</label>
            <input type="text" name="occupation" id="occupation_name" placeholder="occupation list" />
        </div>


        <div class="form-control">
                <label>14. Do you have a preference for your future partner's profession?</label>
                <!-- Input Type Checkbox -->

                <label for="inp-1">
                    <input type="checkbox" name="inp" value="Y"> Yes      
                </label>

                <label for="inp-2">
                    <input type="checkbox" name="inp" value="N"> No      
                </label>

                <label for="inp-3">
                    <input type="checkbox" name="other_inp" id="other-checkbox"> If yes, List occupation
                    <input type="text" id="occupation_list" name="occupation_list" placeholder="List of occupation">
                </label>
        </div>   

        <div class="form-control">
            <label for="hobbies" id="hobbies">15. What are hobbies that we can add to your profile?</label>
            <input type="text" name="hobbies" id="hobbies_list" placeholder="Enter your hobbies" />
        </div>


        <div class="form-control">
            <label for="personality" id="label-name">16. Personality Traits: How would you describe your personality in a few words?</label>
            <input type="text" name="personality" id="personality" placeholder="Describe yourself" />
        </div>


        <div class="form-control">
            <label for="goals" id="label-name">17. What are your long-term goals?</label>
            <input type="text" name="goals" id="goals" placeholder="Describe your long-term goals" />
        </div>
        
        <!-- Multi-line Text Input Control -->
        <div class="next">
            <button class="next-button" type="submit">Next</button>
        </div>

    </form>
</div>
</body>
</html>