<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Survey
    </title>
    <link rel="stylesheet" href="/static/survey.css" />
</head>








<body>

    <img src="/static/pics/clearlogo.png" 
     alt="Logo" 
      style="height:90; width: 200px;"
    >
    <h1>Hot Brain Survey</h1>







    <!-- Create Form -->
    <form id="form">

       <h4>To get to know you better, please fill out the following questions about yourself.</h4>
        <!-- Details -->
        <div class="form-control">
            <label for="first name" id="label-name">
                1.First Name
                
            </label>
 
            <!-- Input Type Text -->
            <input type="text"
                   id="first name"
                   placeholder="Enter your first name" />
        </div>

        <div class="form-control">
            <label for="last name" id="label-name">
            2.Last Name
            </label>
 
            <!-- Input Type Text -->
            <input type="text"
                   id="last name"
                   placeholder="Enter your last name" />
        </div>


  
        <div class="form-control">
            <label for="email" id="label-email">
            3.  Email
            </label>
 
            <!-- Input Type Email-->
            <input type="email"
                   id="email"
                   placeholder="Enter your email" />
        </div>
  
        <div class="form-control">
            <label for="age" id="label-age">
               4. Age
            </label>
 
            <!-- Input Type Text -->
            <input type="text"
                   id="age"
                   placeholder="Enter your age" />
        </div>
  
        <div class="form-control">
            <label>
                5.Gender
            </label>
 
            <!-- Input Type Radio Button -->
            <label for="gender-1">
                <input type="radio"
                       id="gender-1"
                       name="gender">Female</input>
            </label>



            <!-- Input Type Radio Button -->
            <label for="gender-2">
                <input type="radio"
                       id="gender-2"
                       name="gender">Male</input>
            </label>


            
            <!-- Input Type Radio Button -->
            <label for="gender-3">
                <input type="radio"
                       id="gender-3"
                       name="gender">Nonbinary</input>
            </label>

            <!-- Input Type Radio Button -->
            <label for="gender-4">
                <input type="radio"
                       id="gender-4"
                       name="gender">Do not wish to disclose</input>
            </label>


                        <!-- Input Type Radio Button -->
            <label for="gender-5">
                <input type="radio"
                       id="gender-5"
                       name="gender">Other(Please Specify)</input>

                       <div class="form-control">
             
                        <!-- Input Type Text -->
                        <input type="text"
                               id="Other" />
                    </div>
            </label>


        </div>

        <div class="form-control">
        <label>
            Race
        </label>

        <!-- Input Type Radio Button -->
        <label for="R-1">
            <input type="radio"
                   id="R-1"
                   name="R">White</input>
        </label>



        <!-- Input Type Radio Button -->
        <label for="R-2">
            <input type="radio"
                   id="R-2"
                   name="R">Black or African American</input>
        </label>


        
        <!-- Input Type Radio Button -->
        <label for="R-3">
            <input type="radio"
                   id="R-3"
                   name="R">Hispanic or Latino</input>
        </label>

        <!-- Input Type Radio Button -->
        <label for="R-4">
            <input type="radio"
                   id="R-4"
                   name="R">Asian or Asian American</input>
        </label>

        <!-- Input Type Radio Button -->
        <label for="R-5">
            <input type="radio"
                   id="R-5"
                   name="R">American Infian or Alaska Native</input>
        </label>


        <!-- Input Type Radio Button -->
        <label for="R-6">
            <input type="radio"
                   id="R-6"
                   name="R">Native Jawaiian or other Pacific Islander</input>
        </label>


        <!-- Input Type Radio Button -->
            <label for="R-7">
                <input type="radio"
                    id="R-6"
                    name="R">Middle Eastern/North African/input>
            </label>


         <!-- Input Type Radio Button -->
        <label for="R-8">
            <input type="radio"
                   id="R-8"
                   name="gender">Other(Please Specify)</input>

                   <div class="form-control">
         
                    <!-- Input Type Text -->
                    <input type="text"
                           id="Other" />
                </div>
        </label>


    </div>

    <div class="form-control">
        <label>
            Religon
        </label>

        <!-- Input Type Radio Button -->
        <label for="Rl-1">
            <input type="radio"
                   id="Rl-1"
                   name="Rl">Christian</input>
        </label>



        <!-- Input Type Radio Button -->
        <label for="Rl-2">
            <input type="radio"
                   id="Rl-2"
                   name="Rl">Muslim</input>
        </label>


        <!-- Input Type Radio Button -->
        <label for="Rl-3">
            <input type="radio"
                   id="Rl-3"
                   name="Rl">Jew</input>
        </label>


         <!-- Input Type Radio Button -->
         <label for="RL-4">
            <input type="radio"
                   id="RL-4"
                   name="gender">Other(Please Specify)</input>

                   <div class="form-control">
         
                    <!-- Input Type Text -->
                    <input type="text"
                           id="Other" />
                </div>
        </label>



        <!-- Input Type Radio Button -->
        <label for="Rl-5">
            <input type="radio"
                   id="Rl-5"
                   name="Rl">None of the above</input>
        </label>



    </div>

    <div class="form-control">
        <label>
         8.What is the highest level of education?
        </label>

        <!-- Input Type Radio Button -->
        <label for="E-1">
            <input type="radio"
                   id="E-1"
                   name="E">Highschool</input>
        </label>



        <!-- Input Type Radio Button -->
        <label for="E-2">
            <input type="radio"
                   id="E-2"
                   name="E">Bachelors Degree (In-Progress)</input>
        </label>


        <!-- Input Type Radio Button -->
        <label for="E-3">
            <input type="radio"
                   id="E-3"
                   name="E">Bachelors Degree (Completed) </input>
        </label>


                <!-- Input Type Radio Button -->
        <label for="E-4">
            <input type="radio"
                   id="E-4"
                   name="E">Masters Degree</input>
        </label>


                        <!-- Input Type Radio Button -->
        <label for="E-5">
            <input type="radio"
                   id="E-5"
                   name="E">PHD</input>
        </label>


         <!-- Input Type Radio Button -->
         <label for="RL-4">
            <input type="radio"
                   id="RL-4"
                   name="gender">Other(Please Specify)</input>

                   <div class="form-control">
         
                    <!-- Input Type Text -->
                    <input type="text"
                           id="Other" />
                </div>
        </label>
    </div>

  
        <div class="form-control">
            <label for="comment">
                Any comments or suggestions
            </label>
 
            <!-- multi-line text input control -->
            <textarea name="comment" id="comment"
                placeholder="Enter your comment here">
            </textarea>
        </div>
  
        <!-- Multi-line Text Input Control -->
        <div class="next">
            <button class="next-button" type="button">
                <a href="survey2">Next</a>
            </button>
        </div>
    </form>

</body>
</html>


