<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
    <link rel="stylesheet" href="/static/survey.css" />
</head>


<body>

    <img src="/static/pics/logo-small.png" 
     alt="Logo" 
      style="width: 100px;"
    >
    <h1>Hot Brain Survey</h1>
  
    <!-- Create Form -->
    <form id="form" action="/survey3" method="post">

        <h3>Lifestyle and Preferences</h3>

        <!-- Details -->
        <div class="form-control">
            <label for="occupation" id="occupation">What is your current occupation/profession?</label>
            <input type="text" name="occupation" id="occupation_name" placeholder="occupation list" />
        </div>


        <div class="form-control">
                <label>Do you have a preference for your future partner's profession?</label>
                <!-- Input Type Checkbox -->

                <label for="inp-1">
                    <input type="checkbox" name="inp" value="Y"> Yes      
                </label>

                <label for="inp-2">
                    <input type="checkbox" name="inp" value="N"> No      
                </label>

                <label for="inp-3">
                    <input type="checkbox" name="other_inp" id="other-checkbox"> If yes, List occupation
                    <input type="text" id="occupation_list" name="occupation_list" placeholder="List of occupation">
                </label>
        </div>   

        <div class="form-control">
            <label for="hobbies" id="hobbies"> What are hobbies that we can add to your profile?</label>
            <input type="text" name="hobbies" id="hobbies_list" placeholder="Enter your hobbies" />
        </div>


        <div class="form-control">
            <label for="personality" id="label-name"> Personality Traits: How would you describe your personality in a few words?</label>
            <input type="text" name="personality" id="personality" placeholder="Describe yourself" />
        </div>


        <div class="form-control">
            <label for="goals" id="label-name"> What are your long-term goals?</label>
            <input type="text" name="goals" id="goals" placeholder="Describe your long-term goals" />
        </div>
        
        <!-- Multi-line Text Input Control -->
        <div class="next">
            <button class="next-button" type="submit">Next</button>
        </div>

    </form>

</body>
</html>