<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link rel="stylesheet" href="/static/survey.css" />
</head>


<body>
    <img src="/static/pics/clearlogo.png" 
     alt="Logo" 
     style="height:90; width: 200px;"
    >
    <h1>Hot Brain Survey</h1>
  

    <!-- Create Form -->
    <form id="form" action="/survey2" method="post">


        <div class="form-control">
            <label>What pronouns are you looking for</label>
    
            <label for="P-1">
                <input type="radio" id="P-1" name="gender_pref" value="Female">she/her/hers
            </label>

            <label for="P-2">
                <input type="radio" id="P-2" name="gender_pref" value="Male">he/him/his
            </label>

            <label for="P-3">
                <input type="radio" id="P-3" name="gender_pref" value="Nonbinary ">they/them/their
            </label>

            <label for="P-4">
                <input type="radio" id="P-4" name="gender_pref" value="None ">Do not wish to disclose
            </label>
  
        </div>



        <div class="form-control">
            <label>
                What is your ideal age range?
            </label>

            <form onsubmit="return validateForm()">
                <label for="minAge">Minimum Age:</label>
                <input type="number" id="minAge" name="minAge" min="18" placeholder="Minimum Age">
            
                <label for="maxAge">Maximum Age:</label>
                <input type="number" id="maxAge" name="maxAge" min="18" placeholder="Maximum Age">
            
            </form>
            
            <script>
                function validateForm() {
                    const minAge = parseInt(document.getElementById('minAge').value);
                    const maxAge = parseInt(document.getElementById('maxAge').value);

                    if (maxAge <= minAge) {
                        alert("Maximum age should be greater than or equal to the minimum age");
                        return false; // Prevent form submission
                    }

                    if (minAge < 18) {
                        alert("Minimum age should be 18 or more");
                        return false; // Prevent form submission
                    }
                    return true; // Allow form submission
                }
            </script>
                        
            

        <div class="form-control">
            <label>What race(s) are you looking for?
                <small>(Check all that apply)</small>
            </label>
            <label for="inp-1">
                <input type="checkbox" name="race" value="White"> White
            </label>
            <label for="inp-2">
                <input type="checkbox" name="race" value="Black or African American"> Black or African American
            </label>
            <label for="inp-3">
                <input type="checkbox" name="race" value="Hispanic or Latino"> Hispanic or Latino
            </label>
            <label for="inp-4">
                <input type="checkbox" name="race" value="Asian or Asian American"> Asian or Asian American
            </label>
            <label for="inp-5">
                <input type="checkbox" name="race" value="American Infian or Alaska Native"> American Infian or Alaska Native
            </label>
            <label for="inp-6">
                <input type="checkbox" name="race" value="Native Jawaiian or other Pacific Islander"> Native Jawaiian or other Pacific Islander
            </label>
            <label for="inp-7">
                <input type="checkbox" name="race" value="Middle Eastern/North African"> Middle Eastern/North African
            </label>

            <label for="inp-8">
                <input type="checkbox" name="other_rel" id="other-checkbox"> Other
                <input type="text" id="other_religion" name="other_religion">
            </label>

        </div>

 
        <div class="form-control">
            <label>Do you have a religious prefrence
                <small>(Check all that apply)</small>
            </label>

            <!-- Input Type Checkbox -->
            <label for="rel-1">
                <input type="checkbox" name="rel" value="Muslim"> Muslim 
            </label>

            <label for="rel-2">
                <input type="checkbox" name="rel" value="Christian"> Christian
            </label>

            <label for="rel-3">
                <input type="checkbox" name="rel" value="Jew"> Jew
            </label>

            <label for="rel-4">
                <input type="checkbox" name="rel" value="None"> None of the above
            </label>

            <label for="rel-5">
                <input type="checkbox" name="other_rel" id="other-checkbox"> Other
                <input type="text" id="other_religion" name="other_religion">
            </label>

        </div>

        <div class="next">
            <button class="next-button" type="submit">Next</button>
        </div>

    </form>
</body>
</html>