<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Build a Survey Form using HTML and CSS
    </title>
    <link rel="icon" href="/static/pics/logo-small.png">
    <link rel="stylesheet" href="/static/survey.css" />
</head>


<body>
    <img src="/static/pics/clearlogo.png" 
     alt="Logo" 
     style="height:90; width: 200px;"
    >
    <h1>Hot Brain Survey</h1>
  
    <!-- Create Form -->
    <form id="form" action="/survey4" method="post">

        <h3>Lifestyle and Preferences</h3>

        <div class="form-control">
            <label>
                Interaction: What type of interaction are you comfortable with?
            </label>
    
            <!-- Input Type Radio Button -->
            <label for="R-1">
                <input type="radio" id="R-1" name="Interaction_pref" value="Messaging">Messaging
            </label>


            <!-- Input Type Radio Button -->
            <label for="R-2">
                <input type="radio" id="R-2" name="Interaction_pref" value="Video Calls">Video Calls
            </label>
            
            <!-- Input Type Radio Button -->
            <label for="R-3">
                <input type="radio" id="R-3" name="Interaction_pref" value="In-Person">In-Person
            </label>
    
             <!-- Input Type Radio Button -->
            <label for="R-4">
                <input type="radio" id="R-4" name="Interaction_pref">Other(Please Specify)
                <input type="text" id="Interaction_pref_other" name="Interaction_pref_other">
            </label>

            <div class="form-control">
                <label>
                    Are you open to virtual dating before meeting in person?
                </label>
        
                <!-- Input Type Radio Button -->
                <label for="R-1">
                    <input type="radio" id="vr_date-1" name="Virtual" value="True">Yes
                </label>
                <label for="R-2">
                    <input type="radio" id="vr_date-2" name="Virtual" value="False">No
                </label>
            </div>    

            <div class="form-control">
                <label>
                    Safety and Privacy? Do you want us to show your social media accounts on your profile or not?
                </label>
        
                <!-- Input Type Radio Button -->
                <label for="R-1">
                    <input type="radio" id="R-1" name="Safety" value="True">Yes
                </label>
                <label for="R-2">
                    <input type="radio" id="R-2" name="Safety" value="False">No
                </label>
            </div>  

        <!-- Multi-line Text Input Control -->


        <div class="next">
            <button class="next-button" type="submit">Submit</button>
        </div>
        

    </form>

</body>
</html>