<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video</title>
         <script src="https://code.jquery.com/jquery-3.6.0.js" 
             integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>

    
    <span id="user_id" data-value="{{ current_user.id }}"></span>
    <span id="video_id" data-value="{{ video_id }}"></span>

    <script>
        // Retrieve user ID and video ID from the placeholders
        const user_id = $("#user_id").data("value");
        //const video_id = $("#video_id").data("value");

        function play_start(user_id, video_id){

            $.post("/open_api/play_movie", { "user_id": user_id, "video_id": 0},
                function(data, textStatus) {
                    //this gets called when browser receives response from server
                    console.log(data);
                }, "json").fail( function(response) {
                    //this gets called if the server throws an error
                    console.log("error");
                console.log(response);});
        }

        function stop_movie(user_id, video_id) {
        $.post("/open_api/stop_movie", { "user_id": user_id, "video_id": 0 },
            function(data, textStatus) {
                // This gets called when the browser receives a response from the server
                console.log(data);

                //takes user back to dashboard when the video finishes playing
                window.location.href = "/dashboard";

            }, "json").fail(function(response) {
                // This gets called if the server throws an error
                console.log("error");
                console.log(response);
            });
    }
    </script>

	<video id="video" width="70%" autoplay playsinline style="pointer-events: none;">
		  <source src="/static/pics/movie.mp4" type="video/mp4">
			Your browser does not support the video tag.
	</video>

	<script>
	video.addEventListener("play", (event) => {
		play_start();
	});

    // For when the video ends
    video.addEventListener("ended", (event) => {
        stop_movie();
    });
	</script>

    <a href="{{url_for('index')}}">Cancel</a>


    </body>
</html>
